    <p-dialog [(visible)]="editDialog" [style]="{width: '70vw'}" header="{{'equipe.tabPan' | translate}}" [modal]="true" styleClass="p-fluid" [maximizable]="true" [draggable]="false" [resizable]="false">
        <ng-template pTemplate="content" >
                <p-tabView>
                    <p-tabPanel header="{{'equipe.tabPan' | translate}}">
                        <div class="grid">

                                        <div class="field col-12 md:col-6">
                                            <label for="1">{{'equipe.code' | translate}}<span style="color: red;">*</span></label>
                                            <input class="mb-2 mr-2" type="text" pInputText  placeholder="{{'equipe.code' | translate}}" id="1" [(ngModel)]="item.code"
                                                   [ngClass]="{'ng-invalid ng-dirty' : !validEquipeCode}"  />
                                            <small class='p-error' *ngIf='!validEquipeCode'>Code est obligatoire.</small>
                                        </div>



                                        <div class="field col-12 md:col-6">
                                            <label for="2">{{'equipe.libelle' | translate}}<span style="color: red;">*</span></label>
                                            <input class="mb-2 mr-2" type="text" pInputText  placeholder="{{'equipe.libelle' | translate}}" id="2" [(ngModel)]="item.libelle"
                                                   [ngClass]="{'ng-invalid ng-dirty' : !validEquipeLibelle}"  />
                                            <small class='p-error' *ngIf='!validEquipeLibelle'>Libelle est obligatoire.</small>
                                        </div>



                                    <div class="field col-11 md:col-6">
                                        <label for="3">{{'equipe.chefEquipe' | translate}}</label>
                                        <p-dropdown  appendTo="body"  [options]="chefEquipes" [(ngModel)]="item.chefEquipe" id="3" [filter]="true" filterMatchMode="contains"
                                                     [showClear]="true" optionLabel="description" placeholder="{{'equipe.chefEquipe' | translate}}"  >
                                        </p-dropdown>
                                        
                                    </div>

                                    <div class="field col-11 md:col-6">
                                        <label for="5">{{'equipe.typeEquipe' | translate}}</label>
                                        <p-dropdown  appendTo="body"  [options]="typeEquipes" [(ngModel)]="item.typeEquipe" id="5" [filter]="true" filterMatchMode="contains"
                                                     [showClear]="true" optionLabel="libelle" placeholder="{{'equipe.typeEquipe' | translate}}"  >
                                        </p-dropdown>
                                        
                                    </div>

                        </div>
                    </p-tabPanel>
                            <p-tabPanel header="{{'equipe.membreEquipes' | translate}}">
                                        <div class="p-col">
                                            <div class="grid">
                                                            <div class="field col-11 md:col-6">
                                                                <label>Grad</label>
                                                                <p-dropdown  appendTo="body"  [options]="grads" [(ngModel)]="membreEquipesElement.grad"
                                                                             id="2"  [filter]="true" filterMatchMode="contains" [showClear]="true" optionLabel="libelle"
                                                                             placeholder="Grad"  >
                                                                </p-dropdown>
                                                                
                                                            </div>

                                                            <div class="field col-11 md:col-6">
                                                                <label>Collaborator</label>
                                                                <p-dropdown  appendTo="body"  [options]="collaborators" [(ngModel)]="membreEquipesElement.collaborator"
                                                                             id="3"  [filter]="true" filterMatchMode="contains" [showClear]="true" optionLabel="description"
                                                                             placeholder="Collaborator"  >
                                                                </p-dropdown>
                                                                
                                                            </div>

                                                <div class="field col-12 md:col-1">
                                                    <button pButton pRipple type="button" icon="pi pi-plus" class="mt-4" label="OK" (click)="addMembreEquipes()"></button>
                                                </div>

                                            </div>
                                        </div>
                                        <div class="p-col">
                                            <div class="card">
                                                <p-table [value]="item.membreEquipes" [scrollable]="true" scrollHeight="200px">
                                                    <ng-template pTemplate="header">
                                                        <tr>
                                                                        <th>Grad</th>
                                                                        <th>Collaborator</th>
                                                            <th>Actions</th>
                                                        </tr>
                                                    </ng-template>
                                                    <ng-template pTemplate="body" let-p>
                                                        <tr>
                                                                    <td>{{p.grad?.libelle}}</td>
                                                                    <td>{{p.collaborator?.description}}</td>
                                                            <td>
                                                                <button (click)="deleteMembreEquipes(p)" pButton type="button" icon="pi pi-times"  class="p-button-rounded p-button-danger"></button>
                                                                <button (click)="editMembreEquipes(p)" pButton type="button" icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2"></button>
                                                            </td>
                                                        </tr>
                                                    </ng-template>
                                                </p-table>
                                            </div>

                                        </div>
                            </p-tabPanel>


                </p-tabView>

        </ng-template>

        <ng-template pTemplate="footer" >
            <div class="p-flexbox">

                    <button pButton pRipple  label="{{'validate' | translate}}"  icon="pi pi-check"  (click)="edit()"></button>


                        <button pButton pRipple  label="{{'cancel' | translate}}" icon="pi pi-times" class="p-button-outlined" (click)="hideEditDialog()"></button>


            </div>
        </ng-template>

    </p-dialog>
