
<p-dialog [(visible)]="viewDialog" [style]="{width: '70vw'}" header="{{'tache.tabPan' | translate}}" [modal]="true" styleClass="p-fluid">
    <ng-template pTemplate="content">
        <p-tabView>
            <p-tabPanel header="{{'tache.tabPan' | translate}}">
                <div class="grid">
                    <div class="field col-12 md:col-6">
                        <label for="1">{{'tache.reference' | translate}}</label>
                        <input class="mb-2 mr-2" type="text" pInputText [disabled]="true" placeholder="{{'tache.reference' | translate}}" autofocus  id="1" [ngModel]="item.reference">
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="2">{{'tache.libelle' | translate}}</label>
                        <input class="mb-2 mr-2" type="text" pInputText [disabled]="true" placeholder="{{'tache.libelle' | translate}}" autofocus  id="2" [ngModel]="item.libelle">
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="3">{{'tache.description' | translate}}</label>
                        <textarea id="3" pInputTextarea rows="5" cols="30" [disabled]="true" placeholder="{{'tache.description' | translate}}"  [ngModel]="item.description"></textarea>
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="4">{{'tache.sro' | translate}}</label>
                        <input class="mb-2 mr-2" type="text" pInputText [disabled]="true" placeholder="{{'tache.sro' | translate}}" autofocus  id="4" [ngModel]="item.sro?.libelle">
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="5">{{'tache.dateTache' | translate}}</label>
                        <p-calendar id="5" [disabled]="true"  [showTime]="true" [showSeconds]="false" placeholder="{{'tache.dateTache' | translate}}"  [ngModel]="item.dateTache" dateFormat="{{dateFormat}}"></p-calendar>
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="6">{{'tache.dureeTache' | translate}}</label>
                        <p-inputNumber class="mb-2 mr-2" id="6" [disabled]="true" placeholder="{{'tache.dureeTache' | translate}}" [ngModel]="item.dureeTache"></p-inputNumber>
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="7">{{'tache.membreEquipe' | translate}}</label>
                        <input class="mb-2 mr-2" type="text" pInputText [disabled]="true" placeholder="{{'tache.membreEquipe' | translate}}" autofocus  id="7" [ngModel]="item.membreEquipe?.id">
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="8">{{'tache.typeTache' | translate}}</label>
                        <input class="mb-2 mr-2" type="text" pInputText [disabled]="true" placeholder="{{'tache.typeTache' | translate}}" autofocus  id="8" [ngModel]="item.typeTache?.libelle">
                    </div>
                </div>
            </p-tabPanel>

        </p-tabView>

    </ng-template>

    <ng-template pTemplate="footer" >
        <div class="p-flexbox">
            <div>
                <button pButton pRipple label="Annuler" icon="pi pi-times" class="p-button-outlined" (click)="hideViewDialog()"></button>
            </div>
        </div>
    </ng-template>
</p-dialog>



