
<p-dialog [(visible)]="viewDialog" [style]="{width: '70vw'}" header="{{'membreEquipe.tabPan' | translate}}" [modal]="true" styleClass="p-fluid">
    <ng-template pTemplate="content">
        <p-tabView>
            <p-tabPanel header="{{'membreEquipe.tabPan' | translate}}">
                <div class="grid">
                    <div class="field col-12 md:col-6">
                        <label for="1">{{'membreEquipe.equipe' | translate}}</label>
                        <input class="mb-2 mr-2" type="text" pInputText [disabled]="true" placeholder="{{'membreEquipe.equipe' | translate}}" autofocus  id="1" [ngModel]="item.equipe?.libelle">
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="2">{{'membreEquipe.grad' | translate}}</label>
                        <input class="mb-2 mr-2" type="text" pInputText [disabled]="true" placeholder="{{'membreEquipe.grad' | translate}}" autofocus  id="2" [ngModel]="item.grad?.libelle">
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="3">{{'membreEquipe.collaborator' | translate}}</label>
                        <input class="mb-2 mr-2" type="text" pInputText [disabled]="true" placeholder="{{'membreEquipe.collaborator' | translate}}" autofocus  id="3" [ngModel]="item.collaborator?.description">
                    </div>
                </div>
            </p-tabPanel>

        </p-tabView>

    </ng-template>

    <ng-template pTemplate="footer" >
        <div class="p-flexbox">
            <div>
                <button pButton pRipple label="Annuler" icon="pi pi-times" class="p-button-outlined" (click)="hideViewDialog()"></button>
            </div>
        </div>
    </ng-template>
</p-dialog>



