    <p-dialog [(visible)]="editDialog" [style]="{width: '70vw'}" header="{{'tache.tabPan' | translate}}" [modal]="true" styleClass="p-fluid" [maximizable]="true" [draggable]="false" [resizable]="false">
        <ng-template pTemplate="content" >
                <p-tabView>
                    <p-tabPanel header="{{'tache.tabPan' | translate}}">
                        <div class="grid">

                                        <div class="field col-12 md:col-6">
                                            <label for="1">{{'tache.reference' | translate}}<span style="color: red;">*</span></label>
                                            <input class="mb-2 mr-2" type="text" pInputText  placeholder="{{'tache.reference' | translate}}" id="1" [(ngModel)]="item.reference"
                                                   [ngClass]="{'ng-invalid ng-dirty' : !validTacheReference}"  />
                                            <small class='p-error' *ngIf='!validTacheReference'>Reference est obligatoire.</small>
                                        </div>



                                        <div class="field col-12 md:col-6">
                                            <label for="2">{{'tache.libelle' | translate}}<span style="color: red;">*</span></label>
                                            <input class="mb-2 mr-2" type="text" pInputText  placeholder="{{'tache.libelle' | translate}}" id="2" [(ngModel)]="item.libelle"
                                                   [ngClass]="{'ng-invalid ng-dirty' : !validTacheLibelle}"  />
                                            <small class='p-error' *ngIf='!validTacheLibelle'>Libelle est obligatoire.</small>
                                        </div>



                                        <div class="field col-12 md:col-6">
                                            <label for="3">{{'tache.description' | translate}}</label>
                                            <textarea id="3" pInputTextarea rows="5" cols="30" placeholder="{{'tache.description' | translate}}"  [(ngModel)]="item.description"
                                                       ></textarea>
                                            
                                        </div>

                                    <div class="field col-11 md:col-6">
                                        <label for="4">{{'tache.sro' | translate}}</label>
                                        <p-dropdown  appendTo="body"  [options]="sros" [(ngModel)]="item.sro" id="4" [filter]="true" filterMatchMode="contains"
                                                     [showClear]="true" optionLabel="libelle" placeholder="{{'tache.sro' | translate}}"  >
                                        </p-dropdown>
                                        
                                    </div>

                                        <div class="field col-12 md:col-6">
                                            <label for="5">{{'tache.dateTache' | translate}}</label>
                                            <p-calendar appendTo="body" id="5"  [showTime]="true" [showSeconds]="false" placeholder="{{'tache.dateTache' | translate}}"  [(ngModel)]="item.dateTache"
                                                        dateFormat="{{dateFormat}}"  >
                                            </p-calendar>
                                            
                                        </div>

                                        <div class="field col-12 md:col-6">
                                            <label for="6">{{'tache.dureeTache' | translate}}</label>
                                            <p-inputNumber class="mb-2 mr-2" id="6" placeholder="{{'tache.dureeTache' | translate}}" [(ngModel)]="item.dureeTache"  >
                                            </p-inputNumber>
                                            
                                        </div>

                                    <div class="field col-11 md:col-6">
                                        <label for="7">{{'tache.membreEquipe' | translate}}</label>
                                        <p-dropdown  appendTo="body"  [options]="membreEquipes" [(ngModel)]="item.membreEquipe" id="7" [filter]="true" filterMatchMode="contains"
                                                     [showClear]="true" optionLabel="id" placeholder="{{'tache.membreEquipe' | translate}}"  >
                                        </p-dropdown>
                                        
                                    </div>

                                    <div class="field col-11 md:col-6">
                                        <label for="8">{{'tache.typeTache' | translate}}</label>
                                        <p-dropdown  appendTo="body"  [options]="typeTaches" [(ngModel)]="item.typeTache" id="8" [filter]="true" filterMatchMode="contains"
                                                     [showClear]="true" optionLabel="libelle" placeholder="{{'tache.typeTache' | translate}}"  >
                                        </p-dropdown>
                                        
                                    </div>

                        </div>
                    </p-tabPanel>

                </p-tabView>

        </ng-template>

        <ng-template pTemplate="footer" >
            <div class="p-flexbox">

                    <button pButton pRipple  label="{{'validate' | translate}}"  icon="pi pi-check"  (click)="edit()"></button>


                        <button pButton pRipple  label="{{'cancel' | translate}}" icon="pi pi-times" class="p-button-outlined" (click)="hideEditDialog()"></button>


            </div>
        </ng-template>

    </p-dialog>
